.AddMember {
    background-color: #48e0e4;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    margin: 30px 10px 30px 10px;
    border-radius: 15px;
}

.AddMember form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.AddMember form input {
    padding: 15px;
    margin-bottom: 5px;
    font-size:  18px;
    line-height: 25px;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
}

.AddMember form textarea {
    padding: 15px;
    margin-bottom: 5px;
    font-size:  16px;
    line-height: 20px;
    height: 200px;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive;
}

.AddMember form button {
    padding: 15px;
    margin-bottom: 5px;
    font-size:  16px;
    line-height: 20px;
    border-radius: 15px;
    background-color: #e40475;
    box-shadow: 0 5px 3px #d7fbf6;
    color: #d7fbf6;
    border: none;
    transition: all 200ms ease-in-out;
}

.AddMember form button:hover {
    background-color: #e40475;
    box-shadow: none;
    color: #d7fbf6;
    position: relative;
    transform: translateY(5px);
}

@media screen and (max-width: 768px) {
    .AddMember {
        width: 60%;
    }
  }