.Footer {
    background-color: #0e0220;
    color: #d7fbf6;
    padding: 20px;
    margin: 0;
}

.Footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.Footer li {
  line-height: 35px;
  }

.Footer li a {
   text-decoration: none;
   color: #e40475;
   transition: 200ms all ease-in-out;
  }

 .Footer .source a {
    text-decoration: none;
    color: #d7fbf6;
    font-weight: 600;
    transition: 200ms all ease-in-out;
 }

  .Footer a:hover {
    color: #d35594;
   }