.Main {
    align-items: center;
    width: 60%;
    padding: 16px;
    background-color: #0e0220;
    margin: 0 auto;
    margin: 30px 10px 30px 10px;
    border-radius: 15px;
}

.Main h2 {
    font-size: 30px;
    line-height: 35px;
    margin: 10px 0;
    color: #48e0e4;
}

Main ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.Main li {
    display: flex;
    flex-direction: row;
    border: 5px solid #e40475;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #d7fbf6;
}

.Main .petAvatar{
    padding: 20px;
}

.Main .petAvatar h2 {
    color: #e40475;
}

.Main li img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 8px;
    border: 2px solid #e40475;
}

.Main .petDescription {
    background-color: #0e0220;
    color: #d7fbf6;
    border-radius: 15px;
    padding: 20px;
    width: 100%;
}

.Main .petDescription h3 {
    background-color: #48e0e4;
    color: #fff;
    border-radius: 15px;
    padding: 10px 0;
    width: 100%;
}

.Main .petDescription .petInfo {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.Main .petDescription .petInfo span {
    font-style: italic;
}

.Main .petDescription .ownerInfo {
    padding: 10px;
}

.Main .petDescription .ownerInfo .ownerName {
    margin-bottom: 10px;
    font-style: italic;
}

@media screen and (max-width: 1000px) {
    .Main li {
        display: flex;
        flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    .Main ul {
        display: flex;
        flex-direction: column;
    }
  }