.Main {
    align-items: center;
    width: 600px;
    padding: 16px;
    background-color: rgb(187, 240, 222);
    margin: 0 auto;
}



.Main ul {
    list-style: none;
    padding: 0;
    background-color: rgb(215, 248, 235);
    margin-bottom: 20px;
}

.Main li {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 5px;
}

.Main .moreInfo {
    width: 400px;
}

.Main .petAvatar{
    padding: 20px;
}

.Main li img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 8px;
}

.Main li h3 {
    border: 2px solid rgb(141, 68, 68);
    width: 100%;
}

.Main .petInfo {
    display: flex;
    justify-content: space-around;
    align-items: center
}

.Main .ownerInfo {
    color: rgb(11, 56, 25);
    max-width: 400px;
}

.Main .ownerInfo h3 {
    border: 2px solid rgb(11, 56, 25);
}