.App {
  text-align: center;
 
}

.App .main-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}



@media screen and (max-width: 1300px) {
  .App .main-space {
    width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .App .main-space {
      display: flex;
      flex-direction: column;
  }
}
